* {
  margin: 0;
  padding: 0;
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: black;
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(39, 9, 9),
    rgb(0, 0, 0),
    rgb(66, 41, 7)
  );
  /* background-color: white; */
  overflow-x: hidden;
}

.body-c {
  text-align: center;
}

.hero-h1 {
  text-align: center;
  font-size: 64px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
}

.nav {
  display: none;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
}

ul li {
  list-style: none;
  display: flex;
  font-size: larger;
}

.left {
  position: absolute;
}

#slider {
  height: 70vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

#slider img {
  position: absolute;
  height: 60vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 1rem;
}

#slider img.active {
  opacity: 1;
}

.logo {
  flex: 1;
}

.navbar ul {
  flex: 1;
}

.logo img {
  height: 3rem;
}

.container,
.products,
.about,
.contact {
  height: 100vh;
  display: flex;
}

.products {
  flex-wrap: wrap;
  height: fit-content;
  margin-bottom: 4rem;
}

.container-left,
.container-right,
.a-left,
.a-right {
  /* filter: blur(100px); */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.container-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-left img,
.container-right img {
  width: 40%;
  border-radius: 2rem;
}

.products {
  justify-content: space-evenly;
  width: 100%;
  gap: 3rem;
}

.product {
  background-image: radial-gradient(rgb(0, 0, 0), rgb(26, 0, 0));
  border-radius: 2rem;
  height: 32rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.pro-body {
  background-image: linear-gradient(
    to right,
    rgb(60, 0, 0),
    rgb(100, 0, 0),
    rgb(60, 0, 0)
  );
  display: flex;
  flex-direction: column;
  /* background-color: rgb(255, 114, 232); */
  width: 100%;
  height: 100%;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.product img {
  height: 25rem;
}

.a-left img {
  width: 80%;
  border-radius: 1rem;
}

.contact {
  height: fit-content;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.inner {
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(
    to right,
    rgb(95, 0, 0),
    rgb(140, 0, 0),
    rgb(95, 0, 0)
  );

  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.prohead {
  text-align: center;
  margin: 2rem;
  h1 {
    font-size: 50px;
  }
}

.mob-nav {
  display: none; /* Hidden by default */
}

.mob-nav-show {
  display: flex; /* Make it visible and use flexbox */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  /* animation: slidein ease-in 1s; */
}

@keyframes slidein {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0px);
  }
}

#close-nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  border: none;
  color: rgb(213, 0, 0);
  margin: 2rem;
  transform: scale(
    2
  ); /* Use transform instead of scale for better compatibility */
}

.nav-mob-link ul {
  list-style-type: none; /* Remove bullets from list */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align list items */
  gap: 15px; /* Add spacing between list items */
}

.nav-mob-link ul li a {
  text-decoration: none; /* Remove underline from links */
  color: #fff; /* Set link color to white for contrast against the background */
  font-size: 18px; /* Set font size */
  padding: 10px 20px; /* Add padding for clickable area */
  transition: color 0.3s; /* Smooth transition for hover effect */
}

@media screen and (max-width: 720px) {
  .navbar ul {
    display: none;
  }

  .nav {
    display: inherit;
    background-color: transparent;
    border: none;
    color: white;
    scale: 1.7;
  }

  .navbar {
    justify-content: start;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .navbar .logo img {
    padding: 1rem;
    height: 3rem;
    /* width: 100%; */
  }

  #slider {
    height: 40vh;
  }

  #slider img {
    height: 30vh;
  }

  .container {
    flex-direction: column;
    height: fit-content;
  }

  .container-left,
  .container-right,
  .container-mid {
    height: fit-content;
  }

  .container-mid p {
    text-align: center;
    padding-bottom: 2rem;
    width: 90%;
  }

  .about {
    flex-direction: column-reverse;
  }

  .container-mid {
    text-align: center;
    margin: 4rem;
    padding-top: 3rem;
    border-radius: 1rem;
    background-image: linear-gradient(
      to right,
      rgb(95, 0, 0),
      rgb(140, 0, 0),
      rgb(95, 0, 0)
    );
  }
}

.icons {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  scale: 2;
  align-items: center;
}

/* animations */
.hidden {
  opacity: 0;
  transition: all 1.7s;
}

.show {
  opacity: 1;
}
